body{
  font-family: Arial;
  /* margin: 0;
  padding: 0; */
}

.container{
  display: grid;
  grid-template: 1fr 200px 150px / 4fr 2fr 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 10px;
  grid-template-areas:
    "header header header header header"
    "hero hero beneficios contenido1 contenido1"
    "hero hero beneficios contenido2 footer";
  height: 100vh;
  background-color: #666;
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  padding: 10px;
  border: 1px solid dodgerblue;
}

.header{
  grid-area: header;
  background-image: url(https://images.unsplash.com/photo-1502164980785-f8aa41d53611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
  background-size: contain;
}

.header h1{
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 90px;
}

.hero{
  grid-area: hero;
  background-size: cover;
  background-position: bottom;
  background-image: url(https://images.unsplash.com/photo-1466921583968-f07aa80c526e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}

.hero h1{
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 250px;
}

.beneficios{
  grid-area: beneficios;
  background-image: url(https://media.giphy.com/media/4Zo41lhzKt6iZ8xff9/giphy.gif);
  background-size: cover;
  background-position: center;
}

.contenido1{
  grid-area: contenido1;
  background-image: url(https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif);
  background-size: cover;
  background-position: center;
}

.contenido2{
  grid-area: contenido2;
  background-image: url(https://images.unsplash.com/photo-1558947530-cbcf6e9aeeae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-size: cover;
  background-position: center;
}

.footer{
  grid-area: footer;
  background-image: url(https://media.giphy.com/media/mCRJDo24UvJMA/giphy.gif);
  background-size: cover;
  background-position: center;
}

/* .item:nth-of-type(1){
  background-color: blue;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item:nth-of-type(3){
  grid-column-start: 1;
  grid-column-end: 3;
}

.item:nth-of-type(7){
  grid-column:1/4;
}

.item:nth-of-type(8){
  grid-column:2/4;
} */

.item .item{
  background: lightblue;
}
